# Output directory
/Audio Output
/History

# Database files
signals.db

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/

# Virtualenv
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Pycharm Idea Folder
.idea/

#ignore test files
dataBaseCreator.py
